body {
   margin: 40px;
   padding:24px;
   background-color:#F9F6F2 ;
}
.khung-chua-sp{
   display:flex;
   gap:24px;
}
.anh-sp{
   border-radius: 12px;
   width:270px;
   height:340px
}
.anh-trang-chu {
   width:1280px;
   height:666px;
}
.anh-chi-tiet{
   width:645px;
   height:480px;
   border-radius: 12px;
}
.nut-bam{
   background-color: #7D562D;
   color:#FFFFFF;
   border-radius: 8px;
   height: 60px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
}
.nut-bam:hover{
   background-color: #623F18;
   color:#FFFFFF;
   border-radius: 8px;
   height: 60px;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
}
.an-nut-bam{
   background-color: #CEC4C9;
   color:#FFFFFF;
   height: 60px;
   border-radius: 8px;
   font-size: 16px;
   font-weight: bold;
   cursor: not-allowed;
}
.dong-nhap-lieu{
   background-color: #CEC4C9;
   height:47px;
   border-radius: 8px;
   color: #29170D;
   border: 1px solid #7D562D;
}
.dong-nhap-lieu::placeholder{
   color: #7D757A;
}
.dong-nhap-lieu-loi{
   background-color: #FFF1EA;
   height:47px;
   border-radius: 8px;
   color: #BA1A1A;
   border: 1px solid #BA1A1A;
}
.tieu-de-lon{
   font-family: 'Playfair Display', serif;
   font-size: 64px;
   color: #2D1B10;
   font-weight: 700;
   line-height: 72px;
   letter-spacing: -0.02em;
}
.tieu-de-vua{
   font-family: 'Playfair Display', serif;
   font-size: 40px;
   color: #2D1B10;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: -0.01em;
}
.tieu-de-nho{
   font-family: 'Playfair Display', serif;
   font-size: 20px;
   color: #2D1B10;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: -0.01em;
}
.chu-thuong{
   font-family: inter;
   font-size: 14px;
   color: #4B454A;
   line-height: 24px;
   letter-spacing: -0.01em;
}
.chu-loi{
   font-family: inter;
   font-size: 12px;
   color: #BA1A1A;
   line-height: 48px;
   letter-spacing: -0.01em;
}
       header {
           background-color: #f9f6f2;
           padding:  0;
           margin: 0px;
       }
